In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("market/xnas-itch-20250102.trades.csv", nrows=100000000)
df.tail()

,ts_recv,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,ts_in_delta,sequence,symbol
432633,2025-01-02T23:58:47.470250521Z,2025-01-02T23:58:47.470082656Z,0,2,11667,T,A,0,137.91,50,130,167865,929248852,NVDA
432634,2025-01-02T23:58:48.188667758Z,2025-01-02T23:58:48.188499610Z,0,2,11667,T,N,0,137.91,69,0,168148,929248954,NVDA
432635,2025-01-02T23:58:48.192877623Z,2025-01-02T23:58:48.192708925Z,0,2,11667,T,B,0,137.91,181,0,168698,929248960,NVDA
432636,2025-01-02T23:58:48.192877623Z,2025-01-02T23:58:48.192708925Z,0,2,11667,T,B,0,137.91,15,130,168698,929248961,NVDA
432637,2025-01-02T23:59:55.339439925Z,2025-01-02T23:59:55.339272657Z,0,2,11667,T,B,0,137.92,1,130,167268,929255586,NVDA

In [6]:
df.columns

Index(['ts_recv', 'ts_event', 'rtype', 'publisher_id', 'instrument_id',
       'action', 'side', 'depth', 'price', 'size', 'flags', 'ts_in_delta',
       'sequence', 'symbol'],
      dtype='object')

In [7]:
df.side.value_counts()

side
B    37828
A    36404
N    25768
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432638 entries, 0 to 432637
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ts_recv        432638 non-null  object
 1   ts_event       432638 non-null  object
 2   rtype          432638 non-null  int64
 3   publisher_id   432638 non-null  int64
 4   instrument_id  432638 non-null  int64
 5   action         432638 non-null  object
 6   side           432638 non-null  object
 7   depth          432638 non-null  int64
 8   price          432638 non-null  float64
 9   size           432638 non-null  int64
 10  flags          432638 non-null  int64
 11  ts_in_delta    432638 non-null  int64
 12  sequence       432638 non-null  int64
 13  symbol         432638 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 46.2+ MB